<div class="text-center mt-2">
  <span class="btn-group">
    <%= link_to 'Demande en cours', messages_path, class: 'btn btn-lg btn-success' %>
  </span>
  <h1>List des archives</h1>
</div>
<div class="container">
 <div class="row justify-content-center align-self-center">
<% @messages.each do |message| %>
    <div class="card mr-3 mb-3" style="width: 18rem;">
      <div class="card-header">
        <%= message.title.titleize %>
        <span class="badge badge-pill badge-danger"> Clos</span>
      </div>
      <div class="card-body">
        <p class="card-text"><%= message.description.capitalize.truncate(75).html_safe%></p>
      </div>
      <div class="card-footer bg-warning">
          <span class="btn-group">
            <%= link_to "consulter", message_path(message), class:'btn btn-info btn-block mr-2' %>
            <% if current_user.admin? %>
              <%= button_to 'Archiver', close_path(message), method: :get, class: 'btn btn-block btn-danger mt-a' %>
            <% end %>
          </span>
          <small class='text-nowrap bd-highlight text-danger'> Par :<%=  message.user.username.capitalize %>,
                                                  il y'a <%= time_ago_in_words(message.created_at)%></small>
      </div>
    </div>
<% end %>
<%= will_paginate @collection,
    renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
