
<div class="text-center">
  <% if user_signed_in? %>
  <%= button_to 'Consuler archive', archive_path, method: :get, class: 'btn btn-info' %>
    <%= link_to "Nouvelle demande",new_message_path,
                class: "btn btn-lg btn-danger text-center" %>
  <% else  %>
    <%= link_to "Nouvelle demande",new_user_session_path %>
  <% end  %>
  <h1>List des demandes</h1>
</div>
<div class="container d-flex h-100">
 <div class="row justify-content-center align-self-center">
<% @messages.each do |message| %>
    <div class="card mr-3 mb-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= message.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= message.user.username %></h6>
        <p class="card-text"><%= message.description.truncate(75)%></p>
          <span class="btn-group">
            <%= link_to "consulter", message_path(message), class:"btn btn-info" %>
            <%= button_to 'Archiver', close_path(message), method: :get, class: 'btn btn-danger' %>
          </span>
      </div>
    </div>
<% end %>
  </div>
</div>
<%= will_paginate @collection, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
