
<div>
  <i>Par : <%= comment.user.username %> il y a <%= time_ago_in_words(comment.created_at)%></i>

  <p> <%= comment.content %></p>
  <% if user_signed_in? %>
    <% if comment.user_id == current_user.id %>
        <%= link_to "Edit", edit_message_comment_path(comment.message, comment) %>
        <%= link_to "Supprimer", message_comment_path(comment.message, comment), method: :delete, data: { confirm: "Etes vous sure ?"} %>
    <% end %>
  <% end %>
</div>
