	<div class="be-comment-block">
		<div class="be-comment">
			<div class="be-img-comment">
				<a href="blog-detail-2.html">
				<img src="https://api.adorable.io/avatars/54/abott@adorable.png" alt="" class="be-ava-comment">
			</a>
			</div>
			<div class="be-comment-content">
				<span class="be-comment-name">
					<a href="blog-detail-2.html"><i>Par : <%= comment.user.username %> </a>
					</span>
				<span class="be-comment-time">
					<i class="fa fa-clock-o"></i>
					     il y a <%= time_ago_in_words(comment.created_at)%></i>
				</span>
				<p class="be-comment-text">
					<%= comment.content %>
					<% if user_signed_in? %>
							<% if comment.user_id == current_user.id || current_user.admin? %> </br>
								<%= link_to "Edit", edit_message_comment_path(comment.message, comment), class: 'btn btn-sm btn-outline-info' %>
								<%= link_to "Supprimer", message_comment_path(comment.message, comment), method: :delete, data: { confirm: "Etes vous sure ?"},class: 'btn btn-sm btn-outline-warning' %>
							<% end %>
					<% end %>
				</p>
			</div>
		</div>
	</div>
