<div class="row justify-content-center align-items-center ">
    <div class="shadow-lg p-3 mb-5 bg-white 
            rounded w-50 p-3 center mt-5 border border-dark">
        <div class="text-monospace text-center">
            Formulaire d'authentification
        </div>
        <%= simple_form_for(resource, as: resource_name, 
            url: session_path(resource_name)) do |f| %>

            <%= f.input :login, required: true, autofocus: true, 
                placeholder: "Nom d'utilisateur", 
                label: "Username", 
                wrapper_html: { class: 'text-monospace text-dark' }%>

            <%= f.input :password, required: true, 
                label: "Mot de passe",
                wrapper_html: { class: 'text-monospace text-dark' }, 
                placeholder: "Mot de passe"%>
                
            <%= f.button :submit, "Connexion", 
                class: "text-monospace btn btn-lg
                btn-outline-success text-center" %> 
            <%= link_to('Inscription', 
                new_user_registration_path,
                class: 'text-monospace btn 
                btn-outline-info') %>  
        <% end %> 
    </div>
</div>


