<nav class="navbar navbar-expand-sm bg-light navbar-light">
        <%= link_to '<i class="material-icons">face</i> LTM'.html_safe,
                      root_path, class: "navbar-brand" %>

      <ul class="navbar-nav">
        <% if user_signed_in? && current_user.admin? %>
          <li class="nav-item"> <%= link_to 'Ajouter utilisateur <i class="material-icons">person_add</i>'.html_safe,
                    new_user_registration_path, class:"nav-link"  %></li>
          <li class="nav-item"><%= link_to 'Nouveau message <i class="material-icons">create_new_field</i>'.html_safe, new_message_path, class: "nav-link" %></li>
          <li class="nav-item"> <%= link_to 'Se deconnecter <i class="material-icons">cancel</i>'.html_safe, destroy_user_session_path, method: :delete,class:"nav-link"  %></li>

        <% elsif  user_signed_in? %>
          <li class="nav-item"><%= link_to 'Nouveau message <i class="material-icons">create_new_field</i>'.html_safe, new_message_path, class: "nav-link" %></li>
          <li class="nav-item"> <%= link_to 'Se deconnecter </li><i class="material-icons">cancel</i>'.html_safe, destroy_user_session_path, method: :delete,class:"nav-link"  %></li>
        <% else  %>
          <li class="nav-item"> <%= link_to 'Se connecter'.html_safe, new_user_session_path, class:"nav-link"  %>
        <% end %>


      </ul>
    </div>
</nav>
