<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Local Ticket Manager</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= tinymce_assets %>
  </head>

  <body>
    <div class="cotnainer-fluid">
      <%= render partial: 'layouts/partials/navbar' %>
      <div class="row">
      <% if !(notice.nil? || notice.empty?) %>
        <p class="notice alert alert-success"> <%= notice %></p>
      <% end %>
      <% if !(alert.nil? || alert.empty?) %>
        <p class="alert alert-danger"> <%= alert %></p>
      <% end %>
      <%= yield %>
    </div>

    </div>

  </body>
</html>
